/* Animation variables */
:root {
    --random-x: 0%;
    --random-y: 0%;
    --animation-speed: 5s;
}

/* Content CSS Nodes */
html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background: repeating-conic-gradient(rgba(0, 0, 0, 0.05) 0% 25%, rgba(255, 255, 255, 0.05) 0% 50%); 
    background-size: 64px 64px; /* background-size box */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

footer span {
    font-weight: bold;
}

/* TODO: Make this work with random screenshake */
/* Board movement */
@keyframes floater {
    0% { 
        transform: translate(0%, 0%);
        transition: ease 0.2s;
    }
    50% {
        transform: translate(var(--random-x), var(--random-y));
        transition: ease 0.2s;
    }
}

.body-content {
    display: flex;
}

.debug-board {
    margin-left: 2em;
    width: 500px;
}

/* Game CSS Nodes */

.game {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.board {
     /* 
        15 x 15 cells 
        32px per block
    */ 
    width: 480px;
    height: 480px;

    /* 
        Due to the nature of repeating-conic-gradient
        There are 15x15 block @ 32pxs in 7 different background-size boxs on the x and y axis
        https://css-tricks.com/background-patterns-simplified-by-conic-gradients/#checkerboard
    */
    background: repeating-conic-gradient(#2C3E50 0% 25%, #233140 0% 50%); 
    background-size: 64px 64px; /* background-size box */
    border-radius: 2%;
    border: 2px solid black; 
    position: relative;
}

.board-animation {
    animation: floater;
    animation-duration: var(--animation-speed);
}

.snake-head {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #3498DB;
    border-radius: 10%;
}

.snake-body {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #3498DB;
    border-radius: 10%;
}

.apple {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #e36275;
    border-radius: 50%;
}

.node-container {
    display: flex;
    position: absolute;
    width: 32px;
    height: 32px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.game-over {
    width: 320px;
    height: 480px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
}

.game-over-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.game-over-replay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.score-apple {
    margin: 72px 0 48px 0;
    width: 48px;
    height: 48px;
    background-color: #e36275;
    border-radius: 50%;
}

.score-text {
    color: white;
    font-size: x-large;
}

/* CSS - Nomad List style - https://nomadlist.com */
.snake-button {
  background: #2C3E50;
  border: 1px solid #2C3E50;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.snake-button:hover,
.snake-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #2C3E50;
}

.snake-button:active {
  opacity: .5;
}